.sidebarContainer {
  height: 100vh;
  width: 18vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.5rem;
  background-color: #181818;
}

/* Sidebar Container */

.sidebar_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.sidebar_nav_img > img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  cursor: pointer;
}

.sidebar_nav_svg > svg {
  height: 1.7rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sidebar_nav_svg {
  display: flex;
  align-items: center;
}

.sidebar_nav_svg > svg:hover {
  background-color: #303030;
}

/* sidebar main */
.sidebar_main {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.sidebar_main::-webkit-scrollbar {
  width: 6px;
}

.sidebar_main::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

/* sidebar main - Chat history */

.chat_history {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.chat_history > li {
  list-style-type: none;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.chat_history > li:hover {
  background-color: #303030;
}

.delete_chat {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.chat_history > li:hover .delete_chat {
  display: flex;
  opacity: 1;
}

.delete_chat > svg {
  height: 1rem;
}

.delete_chat > svg > path {
  color: #ff0000;
}

/* sidebar_foot */

.sidebar_foot {
  flex-shrink: 0;
  border-top: 1px solid #fff;
  text-align: center;
}
